<ion-view title="Ayuda" id="page12">
    <ion-content overflow-scroll="true" padding="false" class="has-header">
        <ion-list>
            <ion-item class="item-divider">Problemas con la aplicación</ion-item>
        </ion-list>
        <ion-list>
            <ion-item>Cierre inesperado</ion-item>
            <ion-item>Error de funcionamiento</ion-item>
            <ion-item>Error con mis datos</ion-item>
            <ion-item>La aplicacion deó de funcionar</ion-item>
            <ion-item class="item-divider">Espacios deportivos</ion-item>
        </ion-list>
        <ion-list>
            <ion-item>Dar de alta un nuevo espacio deportivo</ion-item>
            <ion-item>Corregir datos de un espacio deportivo</ion-item>
            <ion-item>No encuentro un espacio deportivo</ion-item>
            <ion-item>No encuentro mi deporte favorito</ion-item>
            <ion-item class="item-divider">Sugerencias</ion-item>
            <ion-list>
                <ion-item>Quiero dar una nueva idea a Antorcha</ion-item>
                <ion-item>Quiero felicitar al equipo</ion-item>
                <ion-item>Quiero sugerir algunas mejoras</ion-item>
            </ion-list>
        </ion-list>
    </ion-content>
</ion-view>