<ion-view title="Bienvenido" id="page6" style="background-color:#232C39;">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/bL2IPD6RylTmFxqMNVdw_Presentacion-1.jpg" width="100%" height="auto">
        </div>
        <h5 id="bienvenido-heading1" style="color:#FFFFFF;font-weight:600;text-align:center;">Conéctate con tu deporte favorito</h5>
        <div id="bienvenido-markdown1" style="color:#FFFFFF;text-align:center;">
            <p>Encuentra los centros deportivos más cercanos a ti, conoce las actividades, servicios y costos que ofrecen</p>
        </div>
        <div class="spacer" style="width: 300px; height: 21px;"></div>
        <div class="button-bar">
            <a ui-sref="regStrate" id="bienvenido-button6" style="font-weight:;" class="button button-assertive  button-block">Registrate</a>
            <a ui-sref="iniciaSesion" id="bienvenido-button7" style="font-weight:;" class="button button-assertive  button-block">Inicia sesion</a>
        </div>
    </ion-content>
</ion-view>