<ion-view title="Buscar Eventos" id="page10">
    <ion-content overflow-scroll="true" padding="false" scroll="false" class="has-header">
        <div class="button-bar">
            <a ui-sref="tabsController.buscarEspacios" id="buscarEventos-button12" style="font-weight:;" class="button button-positive button-small button-block button-outline">Espacios</a>
            <button id="buscarEventos-button13" style="font-weight:;" class="button button-positive button-small button-block">Eventos</button>
        </div>
        <a ui-sref="tabsController.detallesEvento" id="buscarEventos-button15" class="button button-positive button-small button-block">Detalles evento</a>
        <div>
            <p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14927.755260991304!2d-103.33071090688476!3d20.71270902328088!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2smx!4v1457659700106" width="100%" height="360" frameborder="0" style="border:0" allowfullscreen=""></iframe>
            </p>
        </div>
    </ion-content>
</ion-view>