<ion-view title="Buscar Espacios" id="page2" style="background-color:Default;">
    <ion-content overflow-scroll="true" padding="false" scroll="false" class="has-header">
        <div class="button-bar">
            <button id="buscarEspacios-button10" style="font-weight:;" class="button button-positive button-small button-block">Espacios</button>
            <a ui-sref="tabsController.buscarEventos" id="buscarEspacios-button11" style="font-weight:;" class="button button-positive button-small button-block button-outline">Eventos</a>
        </div>
        <a ui-sref="tabsController.detallesEspacio" id="buscarEspacios-button14" class="button button-positive button-small button-block">Detalles Espacio Deportivo</a>
        <div>
            <p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14927.755260991304!2d-103.33071090688476!3d20.71270902328088!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2smx!4v1457659700106" width="100%" height="360px" frameborder="0" style="border:0"
                allowfullscreen=""></iframe>
            </p>
        </div>
    </ion-content>
</ion-view>