<ion-view title="Datos de perfil" id="page22">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/QZC7ySsTTOzse9eZ91Zy_Default-Perfil-320.jpg" width="60%" height="auto">
        </div>
        <form class="list">
            <div class="spacer" style="width: 285px; height: 33px;"></div>
            <ion-item class="item-divider">Personal</ion-item>
            <label class="item item-input">
                <span class="input-label">Nombre</span>
                <input type="text" placeholder="" ng-model="nombre">
            </label>
            <label class="item item-input">
                <span class="input-label">Fecha de nacimiento</span>
                <input type="date" placeholder="" ng-model="fecha_nacimiento">
            </label>
            <label class="item item-select">
                <span class="input-label">Genero</span>
                <select>
                    <option>Masculino</option>
                    <option>Femenino</option>
                    <option>N/D</option>
                </select>
            </label>
            <ion-item class="item-divider">Vivienda actual</ion-item>
            <label class="item item-input">
                <span class="input-label">Estado</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Ciudad</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Domicilio</span>
                <input type="text" placeholder="">
            </label>
            <ion-item class="item-divider">Sobre ti</ion-item>
            <label class="item item-input">
                <input type="text" placeholder="Biografia o cita personal">
            </label>
            <a ui-sref="tabsController.miPerfil" id="datosDePerfil-button92" class="button button-assertive  button-block">Guardar</a>
        </form>
    </ion-content>
</ion-view>