<ion-view title="Detalles Espacio" id="page11">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="img/Imcqy50S8iHmsWAA6YvP_Default-Espacio-320.jpg">
                <h2>Nombre de espacio</h2>
                <p>Disciplina deportiva</p>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 285px; height: 23px;"></div>
        <div id="detallesEspacio-markdown4" style="color:#000000;text-align:center;">
            <p>Horario
                <strong>L-S: 9:00am - 8:00pm</strong>
            </p>
        </div>
        <button id="detallesEspacio-button21" style="color:#FF9522;" class="button button-light  button-clear icon ion-ios-star">5</button>
        <a href="tel:" id="detallesEspacio-button17" class="button button-light  button-clear icon ion-ios-telephone"></a>
        <a ui-sref="tabsController.expandeElFuego" id="detallesEspacio-button16" class="button button-light  button-clear icon ion-share"></a>
        <div class="spacer" style="width: 285px; height: 23px;"></div>
        <div id="detallesEspacio-markdown5" style="color:#000000;">
            <p>
                <strong>Actividades</strong>
            </p>
        </div>
        <button id="detallesEspacio-button55" class="button button-assertive button-small">Actividad</button>
        <button id="detallesEspacio-button56" class="button button-assertive button-small">Actividad</button>
        <button id="detallesEspacio-button57" class="button button-assertive button-small">Actividad</button>
        <div class="spacer" style="width: 285px; height: 23px;"></div>
        <div id="detallesEspacio-markdown7" style="color:#000000;">
            <p>
                <strong>Descripcion</strong>
            </p>
        </div>
        <div id="detallesEspacio-markdown8" style="color:#535353;">
            <p>Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this shit while I'm in a transitional period so I don't wanna kill you, I wanna help you. But I can't give you this case, it don't belong to me. Besides,
                I've already been through too much shit this morning over this case to hand it over to your dumb ass.</p>
        </div>
        <div class="spacer" style="width: 285px; height: 23px;"></div>
        <div id="detallesEspacio-markdown9" style="color:#000000;">
            <p>
                <strong>Servicios extras</strong>
            </p>
        </div>
        <button id="detallesEspacio-button58" class="button button-balanced button-small">Servicio</button>
        <button id="detallesEspacio-button59" class="button button-balanced button-small">Servicio</button>
        <button id="detallesEspacio-button60" class="button button-balanced button-small">Servicio</button>
        <div class="spacer" style="width: 285px; height: 23px;"></div>
        <div id="detallesEspacio-markdown11" style="color:#000000;">
            <p>
                <strong>Servicios extras</strong>
            </p>
        </div>
        <a ui-sref="tabsController.escribirReseA" id="detallesEspacio-button23" style="text-align:right;" class="button button-stable button-small button-block button-clear icon-right ion-android-create">Escribir una reseña</a>
        <div id="detallesEspacio-markdown13" style="color:#666666;">
            <p>
                <strong>Titulo de la reseña</strong>
            </p>
        </div>
        <div id="detallesEspacio-markdown14" style="color:#000000;">
            <p>Esta es la reseña, es bastante buena y puede tener varios parrafos</p>
        </div>
        <button id="detallesEspacio-button18" class="button button-light  button-clear icon ion-chevron-left"></button>
        <button id="detallesEspacio-button22" class="button button-light  button-clear icon ion-chevron-right"></button>
        <button id="detallesEspacio-button24" style="color:#FF9522;" class="button button-light  button-clear icon ion-ios-star">4.5 Nombre</button>
        <div class="spacer" style="width: 285px; height: 23px;"></div>
        <div style="text-align:center;">
            <img src="img/69RYssnIRgajp3Pis4y3_Default-Espacio-320.jpg" width="100%" height="auto">
        </div>
        <button id="detallesEspacio-button25" class="button button-light  button-clear icon ion-chevron-left"></button>
        <button id="detallesEspacio-button26" class="button button-light  button-clear icon ion-chevron-right"></button>
        <div class="spacer" style="width: 285px; height: 23px;"></div>
        <div id="detallesEspacio-markdown12" style="color:#000000;">
            <p>
                <strong>Precio</strong>
            </p>
        </div>
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Membresia</span>
                <select>
                    <option>Mensual $300.00</option>
                    <option>Anual $2,800.00</option>
                </select>
            </label>
            <div class="spacer" style="width: 285px; height: 23px;"></div>
            <a ui-sref="tabsController.misActividades" id="detallesEspacio-button27" class="button button-assertive  button-block">Asisto a este centro deportivo</a>
        </form>
    </ion-content>
</ion-view>