<ion-view title="Disciplinas " id="page16">
    <ion-content overflow-scroll="true" padding="true" class="has-header has-footer">
        <div class="button-bar">
            <a ui-sref="tabsController.miPerfil" id="disciplinas-button61" class="button button-positive button-small button-block button-outline">Perfil</a>
            <button id="disciplinas-button62" class="button button-positive button-small button-block">Disciplinas</button>
            <a ui-sref="tabsController.medallas" id="disciplinas-button63" class="button button-positive button-small button-block button-outline">Medallas</a>
        </div>
        <form class="list"></form>
        <a ui-sref="tabsController.deportesFavoritos" id="disciplinas-button64" class="button button-assertive button-small button-block">Agregar deportes favoritos</a>
        <div class="list card">
            <div class="item item-divider">Actividad, Disciplina</div>
            <div class="item item-body">
                <div style="text-align:center;">
                    <img src="img/R738uFiSkeJ7FEYw7eDm_Motor.jpg" width="100%" height="auto">
                </div>
                <button id="disciplinas-button34" class="button button-positive button-small button-block">Borrar</button>
                <ion-list></ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>