<ion-view title="Expande el fuego" id="page15">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <div id="expandeElFuego-markdown24" style="color:#000000;text-align:center;">
            <p>
                <strong>¡Envia tu codigo!</strong>
            </p>

            <p>Invita a tus amigos y ayuda a crecer cada vez más esta comunidad deportiva</p>
        </div>
        <div class="spacer" style="width: 285px; height: 36px;"></div>
        <h1 id="expandeElFuego-heading8" style="color:#000000;font-weight:lighter;text-align:center;">C00D6G00</h1>
        <div id="expandeElFuego-markdown25" style="color:#000000;text-align:center;">
            <p>
                <strong>Gana medallas invitando a tus amigos</strong>
            </p>
        </div>
        <div class="spacer" style="width: 285px; height: 30px;"></div>
        <button id="expandeElFuego-button46" class="button button-assertive  button-block">Compartir codigo</button>
    </ion-content>
</ion-view>