<ion-view title="Metas" id="page5">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <div class="button-bar">
                <button id="metas-button83" class="button button-positive button-small button-block">Mis metas</button>
                <a ui-sref="tabsController.especialistas" id="metas-button84" class="button button-positive button-small button-block button-outline">Especialistas</a>
            </div>
            <a ui-sref="tabsController.nuevaMeta" id="metas-button86" class="button button-assertive button-small button-block">Agregar nueva meta</a>
            <div class="list card">
                <div class="item item-body">
                    <form class="list">
                        <h1 id="metas-heading10" style="color:#000000;font-weight:300;text-align:center;">50%</h1>
                        <ion-item class="range range-positive">
                            <input type="range" value="50" min="0" max="100">
                        </ion-item>
                        <div id="metas-markdown33" style="color:#000000;text-align:center;">
                            <p>
                                <strong>Nombre de la meta</strong>
                            </p>

                            <p>
                                <strong>65Kg</strong>Actual -
                                <strong>62Kg</strong>Meta</p>
                        </div>
                        <div class="spacer" style="width: 253px; height: 18px;"></div>
                        <button id="metas-button90" class="button button-positive  button-clear">Actualizar</button>
                        <button id="metas-button80" class="button button-positive  button-clear">Modificar</button>
                        <button id="metas-button81" class="button button-positive  button-clear">Borrar</button>
                    </form>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>