<ion-view title="Mis actividades" id="page3">
    <ion-content overflow-scroll="true" padding="true" class="has-header has-footer">
        <div class="button-bar">
            <button id="misActividades-button19" style="font-weight:;" class="button button-positive button-small button-block button-outline">Espacios deportivos</button>
            <a ui-sref="tabsController.misEventos" id="misActividades-button20" style="font-weight:;" class="button button-positive button-small button-block button-outline">Eventos</a>
        </div>
        <ion-list></ion-list>
        <div class="list card">
            <div class="item item-body">
                <ion-list>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/c5yg4UWTweCIVPR1sOGE_Default-Espacio-320.jpg">
                        <h2>Nombre de espacio</h2>
                        <p>Categoria deportiva</p>
                    </ion-item>
                </ion-list>
                <button id="misActividades-button40" style="color:Default;" class="button button-stable  button-clear icon ion-more"></button>
                <button id="misActividades-button43" style="color:#FF9522;" class="button button-positive  button-clear icon ion-ios-star">4.5</button>
                <a ui-sref="tabsController.escribirReseA" id="misActividades-button41" style="color:Default;text-align:right;" class="button button-positive  button-clear">Calificar</a>
                <a ui-sref="tabsController.expandeElFuego" id="misActividades-button42" style="color:Default;text-align:right;" class="button button-positive  button-clear">Invitar</a>
            </div>
        </div>
        <ion-list></ion-list>
    </ion-content>
</ion-view>