<ion-view title="Nueva Meta" id="page19">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <form class="list">
            <h4 id="nuevaMeta-heading12" style="color:#000000;text-align:center;">¿Que quieres lograr?</h4>
            <label class="item item-input">
                <input type="text" placeholder="Nombre de tu meta">
            </label>
            <h4 id="nuevaMeta-heading11" style="color:#000000;text-align:center;">Define tu meta</h4>
            <label class="item item-select">
                <span class="input-label">Unidad de medida</span>
                <select>
                    <option>Segundos</option>
                    <option>MInutos</option>
                    <option>Horas</option>
                    <option>Gramos</option>
                    <option>Kilogramos</option>
                    <option>Centimetros</option>
                    <option>Metros</option>
                    <option>Porcentaje</option>
                    <option>Repeticiones</option>
                    <option>Series</option>
                    <option>Vueltas</option>
                    <option>Puntos</option>
                    <option>Anotaciones</option>
                    <option>Juegos</option>
                </select>
            </label>
            <label class="item item-input">
                <span class="input-label">Actual</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Meta</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Fecha limite</span>
                <input type="date" placeholder="">
            </label>
            <a ui-sref="tabsController.metas" id="nuevaMeta-button91" class="button button-assertive  button-block">Guardar</a>
        </form>
        <form class="list"></form>
        <form class="list"></form>
    </ion-content>
</ion-view>