<ion-view title="Tabs Controller" id="page1">
<meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">
    <ion-tabs class="tabs-stable tabs-icon-top">
        <ion-tab title="Buscar" icon="ion-ios-search" href="#/page1/page2">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Actividades" icon="ion-ios-calendar-outline" href="#/page1/tab4/page3">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Perfil" icon="ion-ios-person-outline" href="#/page1/page4">
            <ion-nav-view name="tab5"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Metas" icon="ion-ios-speedometer-outline" href="#/page1/page5">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Ayuda" icon="ion-ios-help-outline" href="#/page1/page12">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>